body {
  font-family: verdana;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  margin: 12px;
  background-color: #d84c34;
  display: grid;
}

.menu {
  color: white;
  padding: 16px;
  border-radius: 5px;
  grid-column: 1 / 7;
  grid-row: 1;
  font-size: 2em;
  margin-bottom: 20px;
}

.list-styles {
  grid-column: 7;
  grid-row: 2 / 4;
  background-color: white;
  padding-bottom: 0px;
  content-visibility: auto;
}

.list-styles li {
  font-size: 1.2em;
  color: white;
  margin: 10px;
  list-style-type: none;
  position: static;
  background-color: #d84c34;
  border-radius: 30px;
  border: #d84c34 solid 1px;
  padding: 6px 15px;
  text-align: center;
}

.padtop {
  padding-top: 10px;
}

.list-styles li:hover {
  background-color: white;
  color: #d84c34;
  border: #d84c34 solid 1px;
}

.list-styles ul {
  padding-left: 0px;
  margin-top: 10px;
  width: 230px;
  justify-content: end;
  z-index: 1;
}

.menu h1 {
  margin: 0px;
  padding: 0px;
  border: 0px;
  line-height: 0.85;
}

.menu p {
  margin: 16px 0px 0px 0px;
  padding: 0px;
  border: 0px;
}

.stylesheets {
  grid-column: 1 / 7;
  grid-row: 2;
  padding-left: 12px;
  background-color: white;
}

a {
  color: #d84c34;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.stylesheets h1 {
  line-height: 1.2;
  color: #d84c34;
}

.stylesheets p {
  line-height: 1.2;
}

.no-styles {
  grid-column: 1 / 7;
  line-height: 1.2;
  padding-left: 12px;
  grid-row: 3;
  background-color: white;
}

.no-styles h2 {
  color: #d84c34;
  margin-top: 0px;
}

.paragraph {
  grid-row: 5;
  grid-column: 1 / 8;
  padding: 5px 10px 10px 10px;
  font-size: 0.7em;
  text-align: center;
  line-height: 1.6;
  color: white;
}

.side-bar {
  grid-column: 1/8;
  grid-row: 4;
  background-color: #f8dcd4;
  color: #d84c34;
  padding: 12px;
  line-height: 1.5;
}

#st2 {
  background-color: white;
  color: #d84c34;
  border: #d84c34 solid 1px;
  font-weight: bold;
}

@media (max-width: 1000px) {
  .list-styles {
    grid-row: 2;
  }

  .no-styles {
    grid-column: 1 / 8;
    line-height: 1.2;
    padding-left: 12px;
    grid-row: 3;
    background-color: white;
    margin-top: -40px;
  }
}
