<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Libros</title>
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <style>
    body {
      background-color: #f0faff;
    }

    .book-container {
      background-color: #d9edf7;
      border-radius: 10px;
      padding: 20px;
      margin-bottom: 20px;
    }

    .question-form {
      background-color: #ffffff;
      border: 1px solid #ccc;
      border-radius: 10px;
      padding: 20px;
    }

    .pagination {
      justify-content: center;
    }

    .footer {
      text-align: center;
      margin-top: 50px;
      padding: 20px 0;
      background-color: #d4edda;
      /* Verde claro */
      width: 100%;
      color: #155724;
      /* Verde oscuro */
    }
  </style>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
      <a class="navbar-brand" href="/">Home</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" href="/order?order=name">Ordenar por Nombre</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/order?order=category">Ordenar por Categoría</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/order?order=author">Ordenar por Autor</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" id="input-text" type="search" placeholder="Buscar" aria-label="Buscar">
          <button class="btn btn-outline-light" id="button-search" type="submit">Buscar</button>
        </form>
      </div>
    </div>
  </nav>

  <div class="container mt-5">
    <% books.forEach(book => {%>
    <%- include('./BookTemplate', {book}); %>
    <% }); %>
  </div>

  <!-- Barra de paginación -->
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item">
        <a class="page-link page-numbers" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <!-- Aquí puedes generar dinámicamente los números de página -->
      <% for( let index = numberPages.start; index <= numberPages.end; index++ ) { %>
      <li class="page-item"><a class="page-link page-numbers"><%= index %></a></li>
      <% } %>
      <li class="page-item">
        <a class="page-link page-numbers" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
  </div>

  <!-- Pie de página -->
  <footer class="footer">
    <div class="container">
      <p>MVC - MVT - 2024</p>
    </div>
  </footer>
  <script src="/js/index.js"></script>
</body>

</html>